%ic {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
    &:before {
        @extend %ic;
        display: block;
    }
}

._icon-speed:before {
    content: "\e900";
}
._icon-awards:before {
    content: "\e901";
}
._icon-case:before {
    content: "\e902";
}
._icon-consumer:before {
    content: "\e903";
}
._icon-enviroment:before {
    content: "\e904";
}
._icon-finance:before {
    content: "\e905";
}
._icon-financial:before {
    content: "\e906";
}
._icon-fly:before {
    content: "\e907";
}
._icon-people:before {
    content: "\e908";
}
._icon-phone:before {
    content: "\e909";
}
._icon-pin:before {
    content: "\e90a";
}
._icon-services:before {
    content: "\e90b";
}
